# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Test
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/